In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家':['CH', 'USA', 'UK', 'JP'] ,
        '人口': np.random.randint(20000000, size = 4)}
df = pd.DataFrame(data)

In [3]:
df

    國家        人口
0   CH   2953150
1  USA  12744395
2   UK   5323116
3   JP   8018629

In [4]:
max = df.groupby(by = '國家')['人口'].idxmax()
print(max)

國家
CH     0
JP     3
UK     2
USA    1
Name: 人口, dtype: int64

In [5]:
df.iloc[max]

    國家        人口
0   CH   2953150
3   JP   8018629
2   UK   5323116
1  USA  12744395

In [ ]:
target_url = 'https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt'

In [ ]:
import requests
response = requests.get(target_url)
data = response.text

split_tag = '\n'
data = data.split(split_tag)

In [ ]:
arrange_data = []
for line in data:
    line = line.replace('\n', '').split(',') 
    arrange_data.append(line)

df = pd.DataFrame(arrange_data)

In [ ]:
from PIL import Image
from io import BytesIO
import numpy as np
import matplotlib.pyplot as plt

first_link = df.iloc[0,0]

response = requests.get(first_link)
img = Image.open(BytesIO(response.content))

# Convert img to numpy array

plt.imshow(img)
plt.show()

In [ ]:
def img2arr_fromURLs(url_list, resize = False):
    img_list = np.array(url_list)
    return img_list

In [ ]:
result = img2arr_fromURLs(df[0:5][1].values)
print("Total images that we got: %i " % len(result)) 

for im_get in result:
    plt.imshow(im_get)
    plt.show()